<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @deadpool.name %></title>
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h1><u>Game of Thrones Deadpool</u></h1>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <% @deadpool.players.each do |player| %>
        <div class="col-xs-2">

          <!-- Player name -->
          <div class="row">
            <div class="col-xs-12 text-center" id="player-name">
              <%= player.name %>
            </div>
          </div>
          <br />

          <!-- Player characters -->
          <div class="row">
            <div class="col-xs-12">
              <table>
                <% player.slots.each do |slot| %>
                  <div col="row">
                    <div class="col-xs-6"><%= slot.character.name %></div>
                    <div class="col-xs-6"><img src='<%= slot.character.img_url %>' height="128"></div>
                    <br />
                  </tr>
                <% end %>
              </table>
            </div>
          </div>

        </div>
      <% end %>
    </div>
    <!--  -->
  </body>
</html>
