<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game of Thrones Deadpool</title>
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/app.css">

    <!-- Include ButtonJS -->
    <script>
      window.ButtonWebConfig = {
        applicationId: 'app-6d23818bee6b8ba1',
        defaults: {
          'btn-1e716e657cf55302': {
            context: {
              item: {
                identifiers: {
                  jet: '092abb50fbc54571a0c36085ba6bb767'
                }
              }
            }
          }
        }
      };
      (function(u,s,e,b,t,n){
        u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
      })(window, document, 'script', 'bttnio');
    </script>
  </head>
  <body>
    <div data-bttnio-id="btn-1e716e657cf55302"></div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h1><u>Game of Thrones Deadpool</u></h1>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <% @deadpool.players.each do |player| %>
        <div class="col-xs-2">

          <!-- Player name -->
          <div class="row">
            <div class="col-xs-12 text-center" id="player-name">
              <%= player.name %>
            </div>
          </div>
          <br />

          <!-- Players remaing -->
          <div class="row">
            <div class="col-xs-12 text-center">
              <% characters_alive = 0 %>
              <% player.slots.each do |slot| %>
                <% characters_alive += 1 if Character.find_by(id: slot.character_id).is_alive %>
              <% end %>
              <p><%= characters_alive %> characters alive</p>
            </div>
          </div>
          <br />


          <!-- Player characters -->
          <div class="row">
            <div class="col-xs-12">
              <table>
                <% player.slots.each do |slot| %>
                  <div col="row">
                    <div class="col-xs-6"><%= slot.character.name %></div>
                    <div class="col-xs-6"><img src='/img/characters/<%= slot.character.name %>.jpg' height="128"></div>
                    <br />
                  </tr>
                <% end %>
              </table>
            </div>
          </div>

        </div>
      <% end %>
    </div>
    <!--  -->
  </body>
</html>
