/*@import url("https://fonts.googleapis.com/css?family=VT323");*/

@font-face {
    /*font-family: 'gameOfThronesFont';
    src: url("fonts/vendor/Game of Thrones.ttf");*/
    /*src: url("https://fonts.googleapis.com/css?family=VT323");*/
    /*src: url("Painter_PERSONAL_USE_ONLY.ttf");*/
    font-family: 'Game of Thrones';
    src: local('Game of Thrones'), url(fonts/Game of Thrones.ttf) format('ttf');
}

html {
  font-family: 'Game of Thrones';
  /*font-family: 'gameOfThronesFont';*/
  /*font-family: 'Open Sans', sans-serif;*/
}


#player-name {
  font-size: 24px;
}
